{% extends 'index.html'%}
{% load static %}
{% block title %}
<title>Eshop | Forget Password Page</title>
{% endblock %}
{% block content %}
<div class="container-fluid mt-3">
    <div class="row my-5">
        <div class="col-md-2 col-1>"></div>
        <div class="col-md-8 col-10">
            <h5 class="background text-light text-center p-2">Forget Password Section</h5>
            {% for i in messages %}
            <div class="alert alert-danger alert-dismissible fade show text-center p-4" role="alert">
                {{i}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
            <form method="post" action="">
                {% csrf_token %}
                <div class="mb-3">
                    <label class="form-label">User Name</label>
                    <input type="text" class="form-control" name="username" placeholder="Enter User Name to get OTP to reset Password">
                </div>
                <button type="submit" class="btn background text-light w-100 btn-sm mybtn">Sent OTP</button>
            </form> 
        </div>
        <div class="col-md-2 col-1"></div>
    </div>
</div>
{% endblock %}