{% extends 'index.html' %}

{% block title %}
<title>Eshop | Update Profile Page</title>
{% endblock title %}
{% block content %}
<div class="container-fluid mt-3">
    <div class="row my-3">
        <div class="col-md-2 col-1>"></div>
        <div class="col-md-8 col-10">
            <h5 class="background text-light text-center p-2">Update Profile Section</h5>
            {% for i in messages %}
            <div class="alert alert-danger alert-dismissible fade show text-center p-4" role="alert">
                {{i}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
            <form method="post" action="" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row mb-3">
                    <div class="col-md-6 col-12">
                        <label class="form-label">Full Name</label>
                        <input type="text" class="form-control" name="name" placeholder="Enter Your Full Name"
                            value="{{user.name}}">
                    </div>
                    <div class="col-md-6 col-12">
                        <label class="form-label">Profile Pic</label>
                        <input type="file" class="form-control" name="pic">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6 col-12">
                        <label class="form-label">Email Address</label>
                        <input type="text" class="form-control" name="email" placeholder="Enter Your Email Address"
                            value="{{user.email}}">
                    </div>
                    <div class="col-md-6 col-12">
                        <label class="form-label">Phone Number</label>
                        <input type="text" class="form-control" name="phone" placeholder="Enter Phone Number"
                            value="{{user.phone}}">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6 col-12">
                        <label class="form-label">House or Building Number</label>
                        <input type="text" class="form-control" name="addressline1"
                            placeholder="Enter House & Building Number" value="{{user.addressline1}}">
                    </div>
                    <div class="col-md-6 col-12">
                        <label class="form-label">Street Number or Nearby</label>
                        <input type="text" class="form-control" name="addressline2"
                            placeholder="Enter Street Number or Nearby" value="{{user.addressline2}}">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6 col-12">
                        <label class="form-label">Village or Locality</label>
                        <input type="text" class="form-control" name="addressline3"
                            placeholder="Enter Village or Locality" value="{{user.addressline3}}">
                    </div>
                    <div class="col-md-6 col-12">
                        <label class="form-label">Pin Code</label>
                        <input type="Number" class="form-control" name="pin" placeholder="Enter Pin Code"
                            value="{{user.pin}}">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6 col-12">
                        <label class="form-label">City</label>
                        <input type="text" class="form-control" name="city" placeholder="Enter City Name"
                            value="{{user.city}}">
                    </div>
                    <div class="col-md-6 col-12">
                        <label class="form-label">State</label>
                        <input type="text" class="form-control" name="state" placeholder="Enter State Name"
                            value="{{user.state}}">
                    </div>
                </div>
                <button type="submit" class="btn background text-light w-100 btn-sm mybtn">Update</button>
            </form>
        </div>
        <div class="col-md-2 col-1"></div>
    </div>
</div>
{% endblock content %}