.background{
    background-color: blueviolet;
}
.btn:hover{
    background-color: blue;
}
.banner.section{
    position: relative;
}
.banner-btn{
    width: 200px;
    position: absolute;
    left: 30px;
    padding: 10px;
}
.banner-btn:hover{
    box-shadow: 0 0 10px black;
}
#banner-btn1{
    top :100%;
}
#banner-btn2{
    top: 120%;
}
#banner-btn3{
    top: 140%;
}
.card-title{
    height: 50px;
}